{% extends "base.html" %} 

{% block title %}List{% endblock title %}

{% block content %}
<br>
<div class="row">
  {% for destination in destinations %}
  	 <div class="col-lg-6 col-m-12">
	  	 <div class="card m-3">
		  <img class="card-img-top " src="{{destination.pretty_picture.url}}">
		  <div class="card-body">
		    <h2 class="card-title">{{destination.name}}</h2>
		    <div class = "text-center">
		    	<a href="{% url 'destination-detail' destination.id %}" class="btn btn-primary btn-lg">More Info</a>
		    </div>
		 </div>
		</div>
	</div>
	
  {% endfor %}
</div>
{% endblock content %}



